body{
  background-color: teal;
}
h1{
  color:snow;
  text-align: center;
  font-family: calibri;
}
#mamie{
  background-color: snow;
  color:teal;
  font-size: 15px;
  
  
  
}
.nini{
  background-color: snow;
  font-size: 20px;
  margin-left: 50px;
  text-align: center;

}
#add{
  float: right;
  margin-right: 500px;
  
}